body {
 max-width: 800px;
}

.totalLine {
 border-top: double #bbb;
}

.noBorder input {
 border: none;
}

.lastHand{
 font-weight: bold;
 height: 5em;
}

.lostCall{
 border: 2px solid #d9534f;
 border-radius: 50px;
 padding-right: .5em;
 padding-left: .5em;
}

.btnStartResetContainer {
 margin-top: 5em;
}

.btnStartReset{
 width: 28%;
}

.btnDecrease, .btnIncrease{
    color: #bbb;
}

.btnDecrease{
    float: left;
}

.btnIncrease{
 float: right;
}

.winning{
    border-bottom: 1px solid #bbb;
}