<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Call break score calculator</title>
  <meta name="description" content="Call break score recording and calculation. You can use this app to note your score while you play call break. The app will calculate the total for you.">
  <meta name="author" content="Anup Kattel">
  <link rel="stylesheet" href="css/bootstrap.min.css"><!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->
  <link rel="stylesheet" href="css/style.css?v=1.0">
  <script src="js/angular.min.js"></script><!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>-->
  <script src="js/app.js"></script>
</head>
<body data-ng-app="callBreakCalc" data-ng-controller="callBreakCtrl">
	<div class="col-md-12 text-center">
		<h2>Call Break</h2>
		<button type="button" class="close" aria-label="Close" ng-click="resetGame()"><span aria-hidden="true">&times;</span></button>
		<br />
	</div>
	<table class="table text-center">
		<thead>
			<tr class="noBorder form-group">
				<th ng-repeat="players in hands[0].playerPoints">
					<input class="form-control text-center" type="text" placeholder="Player {{$index+1}}"/>
				</th>
			</tr> 
		</thead> 
		<tbody>
			<tr ng-repeat="hand in hands" ng-class="{'lastHand' : $index === 4}">
				<td ng-repeat="playerPoint in hand.playerPoints" ng-click="playerPointClicked($parent.$index, $index)">
					<span class="glyphicon glyphicon-minus btnDecrease" ng-show="hands[handIndex].playerPoints[playerIndex]==playerPoint" role="button" ng-click="decreasePoints()"></span>
					<span ng-hide="playerPoint.call>0">-</span>
					<span ng-show="playerPoint.call>0" ng-class="{'lostCall': (playerPoint.extra < 0)}">{{playerPoint.call}}</span><span ng-show="hand.started && playerPoint.extra > -1">.{{playerPoint.extra}}</span>
					<span class="glyphicon glyphicon-plus btnIncrease" ng-show="hands[handIndex].playerPoints[playerIndex]==playerPoint" role="button" ng-click="increasePoints()"></span>
				</td>
			</tr>
			<tr class="totalLine" ng-show="hands.length > 1">
				<td ng-repeat="total in playerTotals">
					<!-- add a class to the winner but not when the score is 0, which happens when you reset the first hand,
						and not when fifth hand has been started: in such case we show position badges instead-->
					<span ng-class="{'winning':total.position == 1 && total.score > 0 && !(hands.length ===5 && hands[4].started)}">{{total.score}}</span>
					<br>
					<br>
					<!-- show position badges when 5th hand has been started, but show only 1st, 2nd and 3rd-->
					<span ng-show="hands.length === 5 && hands[4].started && total.position < 4" class="badge">{{total.position}}<sup>{{getPositionSuperscript(total.position)}}</sup></span>
				</td>
			</tr>
		</tbody>
	</table>
	
	<div class="btnStartResetContainer text-center">
		<button type="button" class="btn btn-success btnStartReset" ng-show="canStartHand()" ng-click="startHand()">start</button>
		<button type="button" class="btn btn-danger btnStartReset" ng-show="canResetHand()" ng-click="resetHand()">reset hand</button>
	</div>
</body>
</html>